@import url('https://fonts.googleapis.com/css2?family=Roboto');

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 450%;
  line-height: 40px;
}

.nav-items a:hover{
  color: #8041f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: auto;
  background-color: white;
  width: 88%;
  margin: auto;
  border: 1px solid #3DB2FF;
  border-width: medium;
  border-radius: 2rem;
  margin-top: 10px;
}

.logo {
  /* cursor: pointer; */
  display: block;
  height: auto;
  margin-left: 3%;
  background-color: #161616;
  padding: 5px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5px;
}
.nav-items a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}
.nav-items li a {
  margin-right: 2rem;
}

.active {
  color: #a741fe;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 926px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding:  2rem;
    height: auto;
    background-color: white;
    border: none;
    width: 100%;
  }

  .logo-resizer {
    width: 180px;
    height: 50px;
  }

  .nav-items-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    right: 0;
    top: 95px;
    transition: all 0.5s ease-out;
    width: 35%;
    background-color: white;
    border: 2px solid #3DB2FF;
    animation: fadeIn 0.3s ease-in-out;
  }

  .nav-items-mobile li {
    display: flex;
  }

  .nav-items-mobile li a {
    text-align: center;
    width: 100%;
    padding: 20px;
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  .nav-items {
    display: none;
  }

  .logo {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    top: 40px;
    right: 25px;
    transition: all 1s ease-in-out;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
