.item{
    min-height: 20rem;
    min-width: 30rem;
    padding: 20px;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
    object-fit: cover;
}

.inner{
    display: flex;
    padding-bottom: 10px;
    width: 100%;
}

.carousal{
    cursor: grab;
    overflow: hidden;
    margin-bottom: 2%;
    margin-left: 10px;
    margin-right: 10px;
}

.text-area{
    width: 100%;
}
.head-gallery{
    font-family: Poppins;
    font-size: 3.4rem;
    font-weight: 500;
    text-shadow: 2px 2px 4px #c0c0c0;
    text-align: center;

}
.button-64 {
    margin: auto;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 7%;
}

.button-64 span {
    background-color: rgb(241, 241, 243);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
